<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849110894184-ilghvukdgd49isf7b7ns6fli7lrj1pcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849110894184-ilghvukdgd49isf7b7ns6fli7lrj1pcd</string>
	<key>API_KEY</key>
	<string>AIzaSyDqCXu4PSPsKUOoyumIYvOBTBoVunYHsz8</string>
	<key>GCM_SENDER_ID</key>
	<string>849110894184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paradabeltran.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-346c2</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-346c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849110894184:ios:3890243235cbbc536ddddd</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-346c2.firebaseio.com</string>
</dict>
</plist>